@charset "utf-8";
html{
    font-size:100px;
    color:#666666;
}
html,body,.swiper-container,.swiper-wrapper,.swiper-slide{
    width:100%;
    height:100%;
}


/*music start*/
.music {
    display: none;
    position: absolute;
    top: .3rem;
    right: .3rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.move #musicAudio {
    display: none;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*page start*/
.page1{
    background:url(../img/4.jpg) no-repeat;
    background-size:cover;
    position: relative;
}
/*mask start*/
.mask{
    width:100%;
    height:100%;
    background:url(../img/bg1.jpg) no-repeat;
    background-size:cover;
    position: absolute;
    top:0;
    left:0;
}
.mask.maskMove{
    -webkit-animation: mask-move 0.5s linear 0s 1 both;
    animation: mask-move 0.5s linear 0s 1 both;
}
@-webkit-keyframes mask-move {
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
@keyframes mask-move {
    from{
        opacity:1
    }
    to{
        opacity:0;
    }
}
.mask .zhiwen{
    width:2.5rem;
    height:2.5rem;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    background:url(../img/zhiwen1.png) no-repeat;
    background-size: cover;
}
.mask .finger-line{
    position: absolute;
    width:2.5rem;
    height:1rem;
    background:url(../img/finger_line.png) no-repeat -1.2rem -0.5rem;
    top:60%;
    left:32%;
    display:none;
}
.finger-line-move{
    -webkit-animation: finger-line-move 0.5s linear 0s 1 both;
    animation: finger-line-move 0.5s linear 0s 1 both;
}
@-webkit-keyframes finger-line-move {
    from{
        top:60%;
    }
    to{
        top:37%;
    }
}
@keyframes finger-line-move {
    from{
        top:60%;
    }
    to{
        top:37%;
    }
}
.page1 .name{
    font-size: 0.4rem;
    font-weight: 600;
    width:100%;
    height:0.5rem;
    line-height: 0.5rem;
    text-align: center;
    position: absolute;
    top:1.5rem;
    left:0;
    color:lightsalmon;
    opacity:0;
}
.page1>img{
    position: absolute;
    width:3rem;
    left:25%;
    top:20%;
    opacity: 0;
}
.desc{
    position: absolute;
    width:100%;
}
.page1 .desc{
    left:0;
    top:55%;
    opacity:0;
}
.page1 .desc p{
    font-size:0.4rem;
    height:0.7rem;
    line-height: 0.7rem;
    color:lightsalmon;
    text-align: center;
}
.page2{
    background:url(../img/9.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.page2 img,.page3 img{
    position:absolute;
    opacity: 0;
}
.one{
    top:10%;
    left: 25%;
    transform: rotate(70deg);
}
.two{
    top:10%;
    right:20%;
    transform: rotate(-70deg);
}
.tre{
    top:18%;
    right:5%;
    transform: rotate(-20deg);
}
.for{
    top:16%;
    left:5%;
    transform: rotate(45deg);
}
.classify{
    position:absolute;
    top:25%;
    left:0;
    z-index: 10;
    width:100%;
    background:rgba(255, 82, 184, 0.3);
}
.classify li{
    float:left;
    width:25%;
    height:1.3rem;
    text-align: center;
    padding-top:0.25rem;
    background:rgba(255, 82, 184, 0.3);
}
.classify li span{
    display:block;
    font-size: 0.35rem;
    color:#fff;
}
.classify .bg{
    background:rgba(255, 82, 184, 0.6);
    opacity:0;
}
.page2 .desc{
    top:45%;
    opacity: 0;
}
.page2 .desc p{
    font-size: .4rem;
    height:0.7rem;
    line-height: 0.7rem;
    text-align: center;
}
.page3{
    position: relative;
    background:url(../img/11.jpg) no-repeat;
    background-size:cover;
}
.page3 .box{
    position: absolute;
    top:38%;
    left:0;
    width:100%;
    height:7rem;
    background:url(../img/12.jpg) no-repeat;
    background-size: 100% 100%;
}
.page3 .box span{
    position: absolute;
    transform: rotate(47deg);
    opacity: 0;
}
.page3 .box span:nth-child(1){
    color:lightgreen;
    font-size: 0.3rem;
    left:1.2rem;
    top:2.3rem;
}
.page3 .box span:nth-child(2){
    color:lightseagreen;
    font-size: 0.4rem;
    font-weight: 600;
    left:2.5rem;
    top:1.5rem;
}
.page3 .box span:nth-child(3){
    color: #f01ec8;
    font-size: 0.4rem;
    left:4rem;
    top:1rem;
}
.page3 .box span:nth-child(4){
    color:#F01EC8;
    font-size: 0.4rem;
    font-weight: 600;
    left:1.3rem;
    top:4.5rem;
    transform: rotate(84deg);
}
.page3 .box span:nth-child(5){
    color:#F01EC8;
    font-size: 0.4rem;
    font-weight: 600;
    left:5rem;
    top:1.3rem;
    transform: rotate(-50deg);
}
.page3 .box span:nth-child(6){
    color: #5374f0;
    font-size: 0.3rem;
    font-weight: 600;
    left:2.3rem;
    top:4rem;
    transform: rotate(72deg);
}
.page3 .box span:nth-child(7){
    color: #33ff6b;
    font-size: 0.3rem;
    font-weight: 600;
    left:3rem;
    top:3.8rem;
    transform: rotate(80deg);
}
.page3 .box span:nth-child(8){
    color: #F0262F;
    font-size: 0.3rem;
    left:4.3rem;
    top:3.8rem;
    transform: rotate(80deg);
}
.page4{
    background:url(../img/15.jpg) no-repeat;
    background-size:cover;
    position: relative;
}
.page4>img{
    position: absolute;
    top:4.5%;
    left:20%;
    width:4rem;
    opacity: 0;
}
.page4 .desc{
    position: absolute;
    top:45%;
    width:100%;
}
.page4 .desc p{
    width:70%;
    height:0.8rem;
    background:rgba(3,3,3,0.2);
    margin:0 auto 0.2rem;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 0.35rem;
    font-weight: 500;
    opacity: 0;
}
.page4 .desc p:nth-child(1){
    color:lightcoral;
}
.page4 .desc p:nth-child(2){
    color:lightseagreen;
}
.page4 .desc p:nth-child(3){
    color:lightsalmon;
}
.page4 .desc p:nth-child(4){
    color:limegreen;
}
.page4 .desc p:nth-child(5){
    color:lightpink;
}
.page4 .desc p:nth-child(6){
    color:lightblue;
}
.page5{
    background:url(../img/16.jpg) no-repeat;
    background-size:cover;
    position: relative;
}
.Personal-quote{
    position: absolute;
    left:0;
    top:45%;
}
.Personal-quote .zh{
    font-size: 0.35rem;
    color:#000000;
    font-weight: 600;
    position: absolute;
    left:.1rem;
    top:0;
    opacity:0;
}
.Personal-quote .english{
    color:#000000;
    margin:0.5rem 0  0 0.3rem;
    font-size: 0.2rem;
    opacity:0;
}
.page6{
    background:url(../img/17.png) no-repeat;
    background-size:cover;
    position: relative;
}
.page6 .ewm{
    width:3rem;
    height:3rem;
    background:url(../img/ewm.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top:15%;
    left:28%;
}
.page6 .font{
    position: absolute;
    width:100%;
    top:50%;
    opacity:0;
}
.page6 .font p{
    text-align: center;
    font-size: 0.4rem;
    height:.5rem;
    line-height: .5rem;
    color:lightyellow;
}
.page6 .tel,.page6 .qq{
    position: absolute;
    width:100%;
    font-size: 0.3rem;
    color:#000000;
    box-sizing: border-box;
}
.page6 .tel{
    top:65%;
    text-align: center;
}
.page6 .qq{
    top:72%;
    padding-left:2rem;
}
.page6  i{
    display:inline-block;
    vertical-align: middle;
}
.page6 .tel i{
    width:33px;
    height:33px;
    background:url(../img/service_qa_ico.png) no-repeat -224px -32px;
}
.page6 .qq i{
    width:23px;
    height:23px;
    background:url(../img/sprite.png) no-repeat -58px -58px;
}
/*arrow start*/
.arrow {
    position: absolute;
    left: 50%;
    bottom: .2rem;
    z-index: 100;
    margin-left: -.12rem;
    width: .24rem;
    height: .18rem;
    background: url("../img/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    -webkit-animation: arrowFlash 1s linear 0s infinite;
    animation: arrowFlash 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*animate start*/
#page1 .name {
    -webkit-animation: bounceInLeft linear 0.5s 0s both;
    animation: bounceInLeft linear 0.5s 0s both;
}
#page1>img {
    -webkit-animation: fadeIn linear 0.3s 0.6s both;
    animation: rollIn linear 0.3s 0.6s both;
}
#page1 .desc {
    -webkit-animation: bounceIn linear 0.5s 1s both;
    animation: bounceIn linear 0.5s 1s both;
}
#page2 .one,#page3 .one{
    -webkit-animation: flyOne linear 1.5s 0s both;
    animation: flyOne linear 1.5s 0s both;
}
#page2 .two,#page3 .two{
    -webkit-animation: flyTwo linear 2s 0s both;
    animation: flyTwo linear 2s 0s both;
}
#page2 .tre,#page3 .tre{
    -webkit-animation: flyTre linear 2s 0.5s both;
    animation: flyTre linear 2s 0.5s both;
}
#page2 .for,#page3 .for{
    -webkit-animation: flyFor linear 2s 0.6s both;
    animation: flyFor linear 2s 0.6s both;
}
#page2 .classify .bg,#page3 .classify .bg{
    -webkit-animation: bounceInLeft linear 0.5s 0s both;
    animation: bounceInLeft linear 0.5s 0s both;
}
#page4 .classify .bg,#page5 .classify .bg{
    -webkit-animation: bounceInRight linear 0.5s 0s both;
    animation: bounceInRight linear 0.5s 0s both;
}
#page2 .desc{
    -webkit-animation: flipInY linear 0.5s 0.5s both;
    animation:flipInY linear 0.5s 0.5s both;
}
#page3 .box span:nth-child(1){
    -webkit-animation: myMove linear 0.5s 0.5s both;
    animation:myMove linear 0.5s 0.5s both;
}
#page3 .box span:nth-child(2){
    -webkit-animation: bounceIn linear 0.5s 0.7s both;
    animation:bounceIn linear 0.5s 0.7s both;
}
#page3 .box span:nth-child(3){
    -webkit-animation: myMove linear 0.5s 0.9s both;
    animation:myMove linear 0.5s 0.9s both;
}
#page3 .box span:nth-child(4){
    -webkit-animation: myMove linear 0.5s 1s both;
    animation:myMove linear 0.5s 1s both;
}
#page3 .box span:nth-child(5){
    -webkit-animation: bounceIn linear 0.5s 0.5s both;
    animation:bounceIn linear 0.5s 0.5s both;
}
#page3 .box span:nth-child(6){
    -webkit-animation: myMove linear 0.5s 0.6s both;
    animation:myMove linear 0.5s 0.6s both;
}
#page3 .box span:nth-child(7){
    -webkit-animation: myMove linear 0.5s 0.3s both;
    animation:myMove linear 0.5s 0.3s both;
}
#page3 .box span:nth-child(8){
    -webkit-animation: myMove linear 0.5s 0.3s both;
    animation:myMove linear 0.5s 0.3s both;
}
#page4 img{
    -webkit-animation: fadeIn  linear 1s 0s both;
    animation:fadeIn  linear 1s 0s both;
}
#page4 p{
    -webkit-animation: bounceInUp linear 0.3s 0s 1 both;
    animation: bounceInUp linear 0.3s 0s 1 both;
}
#page4 p:nth-child(1){
    -webkit-animation-delay:0.5s;
    animation-delay:0.5s;
}
#page4 p:nth-child(2){
    -webkit-animation-delay:0.7s;
    animation-delay:0.7s;
}
#page4 p:nth-child(3){
    -webkit-animation-delay:0.9s;
    animation-delay:0.9s;
}
#page4 p:nth-child(4){
    -webkit-animation-delay:1s;
    animation-delay:1s;
}
#page4 p:nth-child(5){
    -webkit-animation-delay:1.2s;
    animation-delay:1.2s;
}
#page5 .Personal-quote .zh{
    -webkit-animation: fadeIn  linear 1s 0.5s both;
    animation:fadeIn  linear 1s 0.5s both;
}
#page5 .Personal-quote .english{
    -webkit-animation: fadeIn  linear 1s 0.7s both;
    animation:fadeIn  linear 1s 0.7s both;
}
#page6 .font{
    -webkit-animation: myMove  linear 0.5s 0s both;
    animation: myMove  linear 0.5s 0s both;
}
#page6 .tel i{
    -webkit-animation: wobble  linear 0.5s 0.5s both;
    animation:wobble  linear 0.5s 0.5s both;
}
#page6 .qq i{
    -webkit-animation: wobble  linear 0.5s 0.5s both;
    animation:wobble  linear 0.5s 0.5s both;
}
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity:1;
    }
}
@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes flyOne {
    from{
        opacity:0;
        transform: rotate(70deg);
    }
    to{
        opacity:1;
        transform: rotate(200deg);
    }
}
@keyframes flyOne {
    from{
        opacity:0;
        transform: rotate(70deg);
    }
    to{
        opacity:1;
        transform: rotate(200deg);
    }
}
@-webkit-keyframes flyTwo {
    from{
        opacity:0;
        transform: rotate(-70deg);
    }
    to{
        opacity:1;
        transform: rotate(150deg);
    }
}
@keyframes flyTwo {
    from{
        opacity:0;
        transform: rotate(-70deg);
    }
    to{
        opacity:1;
        transform: rotate(150deg);
    }
}
@-webkit-keyframes flyTre {
    from{
        opacity:0;
        transform: rotate(-20deg);
    }
    to{
        opacity:1;
        transform: rotate(80deg);
    }
}
@keyframes flyTre {
    from{
        opacity:0;
        transform: rotate(-20deg);
    }
    to{
        opacity:1;
        transform: rotate(80deg);
    }
}
@-webkit-keyframes flyFor {
    from{
        opacity:0;
        transform: rotate(45deg);
    }
    to{
        opacity:1;
        transform: rotate(95deg);
    }
}
@keyframes flyFor {
    from{
        opacity:0;
        transform: rotate(45deg);
    }
    to{
        opacity:1;
        transform: rotate(95deg);
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity:1;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity:1;
    }
}
@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity:1;
    }
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity:1;
    }
}
@-webkit-keyframes myMove{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes myMove{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
